h1 {
  color: #27aedb;
  text-align: center;
}
.app {
  text-align: center;
  margin: 20px;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.textarea {
  width: 45%;
  height: 400px;
  margin-right: 20px;
}

.preview {
  width: 45%;
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.loading {
  color: #555;
  margin-top: 10px;
}
